/* Custom font for a modern, clean sans-serif look */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    /* Dark, professional background gradient from previous dark mode */
    background: linear-gradient(to bottom right, #1a202c, #2d3748, #4a5568); /* Dark Grays/Blues */
    background-attachment: fixed;
}

.spectral {
  font-family: "Spectral", serif;
  font-weight: 300;
  font-style: normal;
}